## CSS for Blog Post

/* Mobile Display */
.container{
  display:grid;
  grid-template-areas:
  "hd"
  "banner"
  "main"
  "ft"
}

/* Any other monitor */
@media (min-width:900px) {
  .container{
    display:grid;
    grid-template-areas:
    "hd hd hd hd"
    "banner banner main main"
    "ft ft ft ft"
  }

.header{

}
.banner{

}
.content{

}
.footer{

}
