@import "profile.css";
@import "styles.css";
@import "links.css";
@import "buttons.css";
@import "paragraph.css";

/* BLOG POST GENERAL */

/* Mobile Display */
.container{
  display:grid;
  grid-template-areas:
    "hd"
    "banner"
    "main"
    "ft"
}
.profile{
    display:grid;
    border: 2px solid white;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-content: 10px
}

.profile p{
    display: inherit;
}

blockquote {
  font-size: 16px;
}

figcaption{
    display:block;
    font-style: italic;
    font-variant: small-caps;
     }
.banner{
    grid-area:banner;
    display: flex;
    flex-flow:wrap;
    position:relative;
}
.banner img{
    max-width: 100%;
    height: auto;
}
.profile img{
  display: grid
  border: 5px solid white;
  grid-column: col / span 2;
  grid-row: 1;
  width: auto;
  height: 100px;
  flex-wrap: nowrap;
}


/* Medium Tablet Display*/
@media (min-width:650px) {
  .container{
    display:grid;
    border: 20px solid white;
    grid-template-areas:
    "hd hd hd hd"
    "banner main main main"
    "ft ft ft ft"
  }

.box {
    border: 5px solid white;
}
.header{
    grid-area:hd;
    width: max-width;
    height: auto;
    background-color: #005A8D;
    font-family: Didot, fantasy;
    font-weight: lighter;
      color: white;
    padding-left: 20px;
  }
nestedGrid{
    grid-column: col 3 / span 2;
    grid-row: row 2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}
  .banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(0px, auto));
    border: 2px solid white;
  }
  .banner img{
    display: grid;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    max-width: 350px;
    height: auto;
  }
  .content{
        grid-area:main;
        display: grid;
        grid-column: 4 / 10;
        grid-row: 1 / 2;
        display: flex;
        flex-flow: row;
  }
blockquote {
  font-size: 16px;
}
.title{
  font-size: 32px;
  font-family: Arial, cursive;
  font-weight: bolder;
  width: auto;
}
.profile{
  grid-area: banner;
  display:flex;
  border: 2px solid white;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
      padding-left: 2px;
}
.profile p{
    display: inherit;
}
.profile img{
  display: grid
  border: 5px solid white;
  grid-column: col / span 2;
  grid-row: 1;
  width: auto;
  height: 100px;
  flex-wrap: nowrap;
}
.quote{
  font-size: 24px;
  font-family: Arial, cursive;
  font-weight: bolder;
  font-style: italic;
  color: #005A8D;
  width: auto;
}
.footer{
    grid-area:ft;
    text-align: center;
    width: auto;
    padding-bottom: 10px;
    height: 70px;
    background-color: #CC6F29;
    font-weight: lighter;
      color: white;
  }
}

/* ALL OTHER DISPLAYS
Any other monitor */
@media (min-width:1000px) {
  .container{
    display:grid;
    border: 20px solid white;
    grid-template-areas:
    "hd hd hd hd"
    "banner main main main"
    "ft ft ft ft"
  }

.box {
    border: 5px solid white;
}
.header{
    grid-area:hd;
    width: max-width;
    height: auto;
    background-color: #005A8D;
    font-family: Didot, fantasy;
    font-weight: lighter;
      color: white;
    padding-left: 20px;
  }
nestedGrid{
    grid-column: col 3 / span 2;
    grid-row: row 2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}
  .banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(0px, auto));
    border: 2px solid white;
  }
  .banner img{
    display: grid;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    max-width: 350px;
    height: auto;
  }
  .content{
        grid-area:main;
        display: grid;
        grid-column: 4 / 10;
        grid-row: 1 / 2;
        display: flex;
        flex-flow: row;
  }
blockquote {
  font-size: 16px;
}
.title{
  font-size: 32px;
  font-family: Arial, cursive;
  font-weight: bolder;
  width: auto;
}
.profile{
  grid-area: banner;
  display:flex;
  border: 2px solid white;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
      padding-left: 2px;
}
.profile p{
    display: inherit;
}
.profile img{
  display: grid
  border: 5px solid white;
  grid-column: col / span 2;
  grid-row: 1;
  width: auto;
  height: 100px;
  flex-wrap: nowrap;
}
.quote{
  font-size: 24px;
  font-family: Arial, cursive;
  font-weight: bolder;
  font-style: italic;
  color: #005A8D;
  width: auto;
}
.footer{
    grid-area:ft;
    text-align: center;
    width: auto;
    padding-bottom: 10px;
    height: 70px;
    background-color: #CC6F29;
    font-weight: lighter;
      color: white;
  }
}
