## CSS for Blog Home

/* Mobile Display */
.container{
  display:grid;
  grid-template-areas:
  "hd"
  "sd"
  "card"
  "ft"
}
.nestedGrid{
  display: grid;
  grid-gap: 10px;
  max-width: 450px;
  margin: 0 auto;
  }
  .card1{
    grid-area:card1;
    background-image: url('images/wwxd.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 320px;
  }
  .card2{
    grid-area:card2;
    background-image: url('images/spike.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 320px;
    }
  .card3{
    grid-area:card3;
    background-image: url('images/cardsAgainstUncertainty.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 320px;
  }
  .card4{
    grid-area:card4;
    background-image: url('images/convergence.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 320px;
  }

## Links
a {color: black;}
a:hover {color: blue;}
a:active {color: purple;}

/* Any other monitor */
@media (min-width:650px) {
  .container{
    display:grid;
    grid-template-areas:
    "hd hd hd hd hd"
    "sd card1 card2 card3 card4"
    "title title title title title"
    "ft ft ft ft ft"
  }
  .nestedGrid{
    display: flex;
    grid-gap: 10px;
    max-width: 1920px;
    margin: 0 auto;
    flex-flow: row;
  }
  .box{
    display: block;
    border: 10px solid white;
    font-family: Helvetica, Sans-Serif;
      color: #005A8D;
      background-color: #ffffff;
      padding-left: 20px;
      padding-bottom: 30px;

  }
  .header{
    grid-area:hd;
    width: auto;
    height: auto;
    background-color: #005A8D;
    font-family: Didot, fantasy;
    font-weight: lighter;
      color: white;
    padding-left: 20px;
  }
  .sidebar{
    grid-area:sd;
    width: 200px;
    height: 320px;
  }
  .card1{
    grid-area:card1;
    background-image: url('images/wwxd.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 320px;
    display: flex
  }
  .card2{
    grid-area:card2;
    background-image: url('images/spike.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 320px;
    display: flex
    }
  .card3{
    grid-area:card3;
    background-image: url('images/cardsAgainstUncertainty.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 320px;
    display: flex
  }
  .card4{
    grid-area:card4;
    background-image: url('images/convergence.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 320px;
    display: flex
  }
/*BLANK CARD*/
  .card5{
    grid-area:card5;
    width: 250px;
    height: 320px;
  }
  .footer{
    grid-area:ft;
    text-align: center;
    padding-top: 20px;
    width: auto;
    height: 50px;
    background-color: #CC6F29;
    font-weight: lighter;
      color: white;
    padding-left: 20px;
  }
}
