.profile{
  display:grid;
  border: 2px solid white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.author{
    display: grid;
    border: 2px solid white;
    grid-column: 1;
    grid-row: 1;
}
.profile img{
  display: flex
  border: 2px solid white;
  grid-column: col / span 2;
  grid-row: 1;
  width: auto;
  height: 100px;
  flex-wrap: nowrap;
}